<div class="container">
    <div class="center">
        <img src="../burger.png" alt="burger">
        <h1>Eat-Da_Burger</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
    <div class="center">
        <form class="create-form">
            <div class="form-group">
                <textarea type="text" id="devoured" name="name" value="1"></textarea>
            </div>
            <div>
                <button type="submit" class="btn-info">Submit</button>
                <h4>Enter a burger you want to eat Click the "Submit" button.</h2>
            </div>
        </form>
    </div>
</div>